@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  100% {
    left: 100px; /* Move 100px to the right */
  }
}
@keyframes moveTopBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.container {
  max-width: 1280px !important;
  margin: auto !important;
  padding: 100px 0px !important;
}

.flex {
  display: flex !important;
}
.items-center {
  align-items: center !important;
}
.space-x-4 {
  gap: 16px !important;
}

a {
  text-decoration: none;
}

.readmore_btn {
  float: right;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 16px;
  /* color: red; */
  background-color: #d9f1fd;
  font-weight: 600;
}

:root {
  --primary-black: #18181b;
  --Primary-Primary: #009ff5;
}

header {
  position: relative;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 10vh;
  padding: 0px 20px;
}

header .header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .header-left nav {
  padding-left: 56px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav button {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  color: #18181b;
  background-color: transparent;
  font-size: 16px;
}
header nav button i {
  color: gray;
}
header nav a {
  color: #18181b;
  font-size: 16px;
}
header .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-right a {
  color: var(--primary-black);
}

header .header-right a:last-child {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--Primary-Primary);
  color: white;
}

/* Dropdown-specific styling */
.dropdown {
  /* position: relative; */
}

.dropdown-content {
  border-radius: 13px;
  padding: 32px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.36);
  display: none;
  position: absolute;
  min-width: 1280px;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 8px;
  z-index: 9999999999;
  background-color: white;
}

.dropdown-content h1 {
  font-size: 18px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.dropdown-content .dropdown-menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.dropdown-content .dropdown-menu-wrapper .dropdown-image {
  padding: 14px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.13);
}
.dropdown-content .dropdown-menu-wrapper .dropdown-image h1 {
  color: rgba(0, 0, 0, 0.6);

  text-align: center;
  padding: 11px;
}
.dropdown-content .dropdown-menu-wrapper .dropdown-image ul li {
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
}

.try-crm-for-free {
  bottom: 35px;
  left: 35%;
  border-radius: 13px;
  background: #659ddc;
  padding: 22px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
}

button i {
  color: black; /* Default color for the icon */
}

button.active i {
  color: #006296;
}
button.active span {
  color: #006296;
}

.try-crm-for-free h1 {
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.try-crm-for-free .enjoy-our-free-trial {
  box-shadow: 0px 0px 4px 0px #fff;
}
.enjoy-our-free-trial {
  background: linear-gradient(90deg, #009ff5 0%, #005d8f 100%);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  float: right;
}

.dropdown-image-feature {
  width: 445px;
  border-radius: 6px;
  background: rgba(0, 159, 245, 0.3);
  padding: 4px;
}
.dropdown-image-feature img {
  background: rgba(9, 10, 11, 0.2);
  border-radius: 6px;
}
.dropdown-image-feature h5 {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.dropdown-content .dropdown-menu {
  padding: 10px;
  display: flex;
  gap: 20px;
}
/* .dropdown-menu-item{
  position: relative;
} */
.dropdown-content .dropdown-item {
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
}
.dropdown-item-relative {
  /* position: relative; */
}
.dropdown-item:hover .dropdown-item-hover {
  display: grid;
}
.dropdown-item .active-arrow {
  display: none;
}
.dropdown-item:hover .active-arrow {
  display: block;
}

.dropdown-item-relative:hover .dropdown-item-hover1 {
  display: grid;
}
.dropdown-item-relative:hover .dropdown-item-hover2 {
  display: grid;
}
.dropdown-item-hover1 {
  /* display: block; */
  background-color: white;
  position: absolute;
  top: 20px;
  left: 350px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 999;
  /* border: 2px solid red; */
  border-radius: 16px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.dropdown-item-hover2 {
  /* display: block; */
  background-color: white;
  position: absolute;
  top: 20px;
  left: 685px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 999;
  /* border: 2px solid red; */
  border-radius: 16px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown-item-hover1 .dropdown-item-hover-content {
  width: 480px;
  padding: 20px 0px;
}
.dropdown-item-hover2 .dropdown-item-hover-content {
  width: 480px;
  padding: 20px 0px;
}

.dropdown-item-hover-cards {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item-hover1 p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px;
  text-align: justify;
}
.dropdown-item-hover2 p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 0px;
  text-align: justify;
  padding: 20px 0px;
}
.dropdown-item-hover-cards img {
  width: 100%;
}
.dropdown-item-hover-cards .card2 {
  position: absolute;
  z-index: 999999999;
  bottom: 30px;
  right: -50px;
}
.dropdown-content .dropdown-item .icon {
  padding: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
.dropdown-content .dropdown-item img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.dropdown-content .dropdown-item h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.dropdown-content .dropdown-item p {
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #007ac1; Slightly darker blue on hover */
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
  border-radius: 6px;
}

button.active + .dropdown-content {
  display: block;
}

button.active .fa-angle-up {
  transform: rotate(180deg);
}

/* *******************************hero section starts here*********************************** */
.hero_section {
  position: relative;
  max-width: 1280px;
  height: 90vh;
  margin-top: 10vh;
  margin: auto !important;
}
.hero_section .slides1 {
  display: flex;
  align-items: center;
  height: 90vh;
  max-width: 90%;
  border-radius: var(--Radius-m, 12px);
  background: linear-gradient(
    109deg,
    #a4caf3 0.63%,
    #f0f6ff 31.44%,
    #e6e6e6 57.77%,
    #84b6fb 100%
  );
}
.hero_section .slides2 {
  display: flex;
  align-items: center;
  height: 90vh;
  margin-left: 10%;
  max-width: 90%;
  border-radius: var(--Radius-m, 12px);
  background: linear-gradient(
    109deg,
    #a4caf3 0.63%,
    #f0f6ff 31.44%,
    #e6e6e6 57.77%,
    #84b6fb 100%
  );
}

.hero_section .slides3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  max-width: 100%;
  border-radius: var(--Radius-m, 12px);
  background: linear-gradient(
    109deg,
    #a4caf3 0.63%,
    #f0f6ff 31.44%,
    #e6e6e6 57.77%,
    #84b6fb 100%
  );
}

.hero_section .slides3 .left {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section .slides3 .left div {
  position: relative;
  z-index: 9999999;
}

.hero_section .slides3 .left svg {
  position: absolute;
  z-index: 111;
  left: 0;
  bottom: -10vh;
}
.hero_section .slides3 .left h1 {
  color: var(--gray-900, #141d38);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
}
.hero_section .slides3 p {
  margin-top: 20px;
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 70px;
}
.hero_section .slides3 a {
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(0deg, #009ff5 0%, #009ff5 100%);
  color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.55);
}
.hero_section .slides3 a:hover {
  transform: scale(0.7);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.55);
}

.hero_section .slides3 .right img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero_section .slides2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero_section .slides2 .left {
  position: relative;
}
.hero_section .slides2 .left svg {
  position: relative;
  left: 0;
  bottom: -10vh;
}
.hero_section .slides2 .left img {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
  left: -10vw;
  z-index: 9999;
  /* position: absolute; */
}
.hero_section .slides1 div {
  margin: 90px;
  max-width: 460px;
}
.hero_section .slides2 .right {
  /* margin: 90px; */
  /* max-width: 460px; */
}
.hero_section .slides1 img {
  margin-right: 40px !important;
  border-radius: 19px;
  box-shadow: 2px -1px 43px 0px rgba(0, 0, 0, 0.55);
  position: absolute;
  right: 0;
  float: right;
  /* height: 80%; */
  width: 50%;
  animation: moveTopBottom 6s ease-in-out infinite;
}
.hero_section .slides1 div h1 {
  color: var(--gray-900, #141d38);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}
.hero_section .slides2 .right h1 {
  color: var(--gray-900, #141d38);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
}
.hero_section .slides2 .right span {
  color: #2152ff;
  font-size: 128px !important;
}
.hero_section .slides1 span {
  color: #2152ff;
}
.hero_section .slides1 div h2 {
  color: var(--gray-900, #090a0b);
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  margin: 10px 0px;
}
.hero_section .slides1 div p {
  margin-top: 20px;
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 70px;
}
.hero_section .slides1 div a {
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(0deg, #009ff5 0%, #009ff5 100%);
  color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.55);
}
.hero_section .slides1 div a:hover {
  transform: scale(0.7);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.55);
}
.hero_section .slides2 .right p {
  padding-left: 20px;
  color: var(--gray-600, #52525b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 50px;
}
.hero_section .slides2 .right a {
  margin: 20px;
  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(0deg, #009ff5 0%, #009ff5 100%);
  color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.55);
}
.hero_section .slides2 .right a:hover {
  transform: scale(0.7);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.55);
}

.hero000 {
  margin-top: 10vh;
  margin: auto !important;
  padding: 0px 20px;
  position: relative;
  height: 100%;
}

.hero000 {
  max-width: 1350px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.hero swiper-container {
  width: 100%;
  height: 100%;
}

.hero swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero swiper-slide {
  width: 90%;
}

.hero swiper-slide:nth-child(2n) {
  width: 60%;
}

.hero swiper-slide:nth-child(3n) {
  width: 40%;
}

/* *******************************why choose us section starts here*********************************** */
.whychooseus {
  max-width: 1280px;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.whychooseus-span {
  padding: 16px 42px;
  border-radius: 31px;
  background: rgba(55, 137, 251, 0.2);
  color: #0024a1;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.whychooseus-heading {
  padding-top: 14px;
  margin: 18px;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
}
.whychooseus-para {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  max-width: 800px;
  margin: auto;
}

.whychooseus .card-wrapper {
  padding: 30px 0px;
}

.whychooseus .whychooseus-card {
  margin: 25px;
  /* width: 370px; */
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.13);
}

.whychooseus .whychooseus-card:hover {
  color: white !important;
  border-radius: 11px;
  background: linear-gradient(180deg, #5ea1ff 0%, #005d8f 100%);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.63);
  scale: 1.05;
}
.whychooseus .whychooseus-card:hover .whychooseus-card-content p {
  color: white !important;
}

.whychooseus img {
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-radius: 9px;
  position: relative;
}

.whychooseus .whychooseus-card-image .explore-more {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 265px;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.whychooseus .whychooseus-card:hover .whychooseus-card-image .explore-more {
  display: block;
  /* background: rgba(0, 0, 0, 0.5); */
  /* width: 100%;
  height: 265px; */
  overflow: hidden;
}
.whychooseus .whychooseus-card:hover img {
  background: rgba(9, 10, 11, 0.27);
}

.whychooseus .whychooseus-card-content {
  padding: 12px 0px;
}

.whychooseus .whychooseus-card-content h1 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.whychooseus .whychooseus-card-content p {
  color: rgba(0, 0, 0, 0.7);
  padding-top: 18px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.whychooseus .mySwiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.whychooseus swiper-slide {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whychooseus swiper-slide img {
  width: 100%;
  height: auto;
}

.whychooseus .swiper-navigation-container {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: block;
  justify-content: center;
  margin-top: 20px;
}

/* ***********************************************ttryitforfree_banner************************************** */
.tryitforfree_banner {
  max-width: 1280px;
  margin: auto;
  padding: 80px 80px 0px 80px;
  border-radius: var(--Spacing-xl, 40px);
  background: var(--blue-gray-200, #e2e8f0);
}

.tryitforfree_banner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.tryitforfree_banner_left {
  padding-bottom: 80px;
}
.tryitforfree_banner_left h1 {
  color: #090914;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.tryitforfree_banner_left p {
  padding: 18px 0px;
  color: #090914;
  max-width: 520px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tryitforfree_banner_left_btn {
  display: flex;
  gap: 12px;
}
.tryitforfree_banner_left_btn1 {
  background: var(--Primary-Primary, #009ff5);
  padding: 16px 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: white;
  border-radius: 50px;
}
.tryitforfree_banner_left_btn2 {
  border: 2px solid var(--blue-gray-600, #475569);
  padding: 16px 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 50px;
  color: black;
}
.tryitforfree_banner_right {
  position: relative;
}
.tryitforfree_banner_right .union {
  position: absolute;
  top: -60px;
  left: -50px;
}
.union_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: -30px;
  left: 33px;
  rotate: 5deg;
}

/* ***********************************************mockup_section************************************** */
.mockup_section {
  max-width: 1280px;
  margin: auto;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.mockup_section .mockup_section_left {
  padding: 40px 0px;
  max-width: 420px;
}
.mockup_section .mockup_section_left h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}

.mockup_section .mockup_section_left p {
  padding: 24px 0px;
  color: var(--Neutral-Gray-600, #475569);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.mockup_section .mockup_section_left form {
  padding-top: 40px;
  display: flex;
  gap: 12px;
}
.mockup_section .mockup_section_left form input {
  padding: 12px;
}
.mockup_section .mockup_section_left form input:nth-last-child(1) {
  border-radius: 5px;
  background: var(--Primary-Blue-500, #1d4ed8);
  border: none;
  padding: 0px 20px;
  color: white;
}

.mockup_section .mockup_section_right {
  position: relative;
  padding: 20px;
  /* overflow: hidden; */
}

.mockup_section .mockup_section_right img:nth-child(1) {
  max-width: 800px;
}
.mockup_section .mockup_section_right img:nth-child(2) {
  position: absolute;
  left: -150px;
  top: 15%;
}

/* ***********************************************integration section starts here************************************** */
.integration {
  padding: 100px 0px;
  max-width: 1280px;
  margin: auto;
  text-align: center;
}
.integration .integration_top {
  display: grid;
  gap: 12px;
}
.integration .integration_top span {
  color: var(--Primary-700, #6941c6);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.integration .integration_top h1 {
  color: var(--Gray-900, #101828);
  text-align: center;
  /* Display md/Semibold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.integration .integration_top p {
  max-width: 770px;
  margin: auto;
  color: var(--Gray-500, #667085);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.integration .integration_buttom {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

/* ***********************************************feature section starts here************************************** */
.feature,
.pricing {
  max-width: 1280px;
  margin: auto;
  padding: 100px 0px;
}

.feature .feature_top {
  max-width: 770px;
  margin: auto;
  text-align: center;
  display: grid;
  gap: 12px;
}

.feature .feature_top h1 {
  color: var(--Base-02, #090914);
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}

.feature .feature_top p {
  color: var(--gray-900, #18181b);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.tabs {
  padding-top: 40px;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}

.tab {
  color: #a1a1aa;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;

  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.tab.active {
  color: #2563eb;
  border-bottom: 1px solid #2563eb;
}

.tab-content {
  display: flex;
  justify-content: center;
}

.tab-image {
  display: none;
  width: 100%;
  height: auto;
}

.tab-image.active-image {
  display: block;
}

/* ***********************************************pricing section starts here************************************** */
.pricing_top {
  text-align: center;
  display: grid;
  gap: 12px;
}
.pricing_top h1 {
  color: #2c0872;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
}

.pricing_top p {
  color: var(--gray-400, #a1a1aa);
  text-align: center;
  /* Regular/18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.pricing_buttom {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pricing_buttom .card {
  max-width: 360px;
  display: grid;
  gap: 20px;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}
.pricing_buttom .card2 {
  color: white !important;
  background: linear-gradient(160deg, #094394 1.29%, #00bebd 101.35%);
}
.pricing_buttom .card3 {
  color: white !important;
  background: linear-gradient(180deg, #009ff5 0%, #005d8f 100%);
}
.pricing_buttom .card li i {
  color: #00cb07;
}
.pricing_buttom .card2 .price sub {
  color: white !important;
}
.pricing_buttom .card3 .price sub {
  color: white !important;
}

.pricing_buttom .card span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.pricing_buttom .price {
  display: flex;
}
.pricing_buttom .price sub {
  color: var(--gray-500, #71717a);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.pricing_buttom .price h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.pricing_buttom .card span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.pricing_buttom .card ul {
  padding: 12px 0px;
  display: grid;
  gap: 20px;
  border-top: 1px solid #27272a;
}
.pricing_buttom .card ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.pricing_buttom .card a {
  padding: 16px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: var(--Radius-Sharp, 1px) solid var(--Gradient-01, #6ddcff);
  color: black;
  background: rgba(0, 159, 245, 0.3);
}
.pricing_buttom .card2 a {
  background-color: #094394;
  color: white;
}
.pricing_buttom .card3 a {
  background-color: #18181b;
  color: white;
}

/* **********************************************joinus section starts here***************************** */
.joinus {
  padding: 100px 0px;
  background-color: #0f172a;
  /* color: #94a3b8; */
}
.joinus_wrapper {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.joinus_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinus_top img {
  width: 100%;
  /* max-width: 500px; */
  border-radius: 10px;
}
.joinus_buttom {
  max-width: 480px;
  margin: auto;
}
.joinus_buttom h1 {
  color: #ffffff !important;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.joinus_buttom p {
  color: var(--blue-gray-400, #94a3b8);
  padding: 20px 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.joinus_buttom form {
  color: #94a3b8;
  display: grid;
  gap: 20px;
}
.joinus_buttom form div {
  display: grid;
  gap: 12px;
}
.joinus_buttom form label {
  color: var(--gray-200, #e4e4e7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.joinus_buttom form input {
  background-color: transparent;
  padding: 20px 20px;
  border-radius: 50px;
  border: 1px solid #94a3b8;
  color: #94a3b8;
}
.joinus .enquiry_button_wrapper {
  display: flex !important;
}
.joinus_buttom form .enquiry_button {
  outline: none;
  padding: 18px 20px;
  border-radius: 50px;
  border: 1px solid #94a3b8;
  color: #94a3b8;
  background-color: #2563eb;
  font-size: 16px;
  font-style: normal;
  color: white !important;
  font-weight: 600;
}

.joinus_buttom h5 {
  padding: 20px 0px;
  color: var(--blue-gray-500, #64748b);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.joinus_buttom h5 a {
  color: #2563eb;
}

/* *******************************************video sectison starts here */
.video_section {
  max-width: 1280px;
  margin: auto;
  padding: 100px 0px;
}

.video_section .video_section_top {
  display: grid;
  gap: 20px;
  text-align: center;
}
.video_section_top h5 {
  color: var(--gray-600, #52525b);
  text-align: center;
  /* Inter/Regular/18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.video_section_top h1 {
  max-width: 630px;
  margin: auto;
  color: var(--gray-900, #18181b);
  text-align: center;
  /* PJ/Bold/52px */
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
}

.video_section_top .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.video_section_top .buttons a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.video_section_top .buttons a:nth-child(1) {
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 10px;
  color: white;
}
.video_section_top .buttons a:nth-child(2) {
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  color: black;
}

.video_section_top .video_top_p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--gray-500, #71717a);
}

.video_section .video_section_bottom {
  padding: 40px;
}
.video_section .video_section_bottom iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* *******************************************testimonial section sectison ends here */
.testimonial {
  max-width: 1280px;
  margin: auto;
  padding: 100px 0px;
}

.testimonial .testimonial_top {
  text-align: center;
  display: grid;
  gap: 20px;
}
.testimonial .testimonial_top p {
  color: var(--blue-600, #2563eb);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.testimonial .testimonial_top h1 {
  color: var(--Base-02, #090914);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.testimonial .testimonial_bottom {
  padding-top: 40px;
}
.testimonial .testimonial_bottom .testimonial_card {
  padding: 10px;
  gap: 20px;
  max-width: 625px;
  display: flex;
}
.testimonial .testimonial_bottom .star i {
  color: #2563eb;
}
.testimonial .card_content {
  padding: 20px;
}
.testimonial .card_content p {
  padding: 25px 0px;
}
.testimonial .testimonial_bottom .testimonial_card .author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.testimonial .testimonial_bottom .testimonial_card .author h5 {
  color: #094394;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.testimonial .testimonial_bottom .testimonial_card .author span {
  color: var(--blue-gray-500, #64748b);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/* *******************************************trusted_by sectison starts here */
.trusted_by {
  max-width: 1280px;
  margin: auto;
  padding: 40px 0px 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.trusted_by .trusted_by_left {
  max-width: 550px;
  margin: auto;
}
.trusted_by .trusted_by_left h1 {
  color: var(--Base-02, #090914);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
}
.trusted_by .trusted_by_left p {
  padding-top: 20px;
  color: var(--gray-900, #18181b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.trusted_by .trusted_by_right {
  position: relative;
  /* background: url(./assets/gradient-circle.png);
  background-position: center;
  object-fit: contain; */
}
.trusted_by .trusted_by_right_blob {
  background-image: url(./assets/gradient-circle.png);
  position: relative;
  width: 40vw;
  height: 435px;
  flex-shrink: 0;
  border-radius: var(--Radius-Sharp, 531px);
  background: linear-gradient(
    270deg,
    rgba(192, 68, 68, 0.17) 29.04%,
    rgba(238, 232, 68, 0.17) 73.18%,
    rgba(255, 65, 65, 0.17) 86.41%,
    rgba(115, 115, 115, 0.17) 99.64%
  );
  filter: blur(48px);
}
.trusted_by_right_logos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.trusted_by_right_logos img {
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

/* *******************************************footer sectison starts here */
.footer {
  max-width: 1280px;
  background: #fafafb;
  margin: auto;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .footer_left {
  /* display: grid;
  gap: 20px; */
}
.footer h1 {
  font-size: 16px;
}
.footer .footer_left p {
  max-width: 396px;
  padding: 20px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.footer .footer_left .socials {
  display: flex;
  gap: 12px;
}
.footer .footer_left .socials i {
  color: #000;
}

.footer .footer_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.footer_right .footer_links {
  padding-top: 20px;
  display: grid;
  gap: 12px;
}
.footer_right .footer_links a {
  color: #18181b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footer_bottom_text {
  padding: 4px;
  color: var(--Neutral-500, #64748b);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

/* *******************************************contact section starts here */
.contact {
  max-width: 1280px;
  margin: auto;
  padding: var(--Spacing-l, 28px) var(--Radius-xl, 36px);
}
.contact .contact_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.contact .contact_grid .logo_div {
  margin: auto 0;
}
.contact .contact_grid .logo_div a {
  color: var(--Neutral-800, #191d23);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.contact p {
  font-size: 14px;
}
.contact a {
  font-size: 16px;
}

/* *******************************************newsletter sectison stars here */
.newsletter {
  max-width: 1280px;
  margin: auto;
  padding: var(--Spacing-l, 28px) var(--Radius-xl, 36px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;

  background: #3b73c1;
}
.newsletter h1 {
  color: var(--Shades-White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.newsletter p {
  padding-top: 8px;
  color: var(--Color-Text, rgba(255, 255, 255, 0.8));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.newsletter form {
  display: flex;
  align-items: center;

  border-radius: 4px;
  width: 450px;
  height: 48px;
  background: #002e6e;
}
.newsletter form svg {
  transform: scale(1.5);
  margin: 0px 20px;
}
.newsletter form input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: white;
  outline: none;
  border: none;
}
.newsletter form input::placeholders {
  color: rgb(231, 235, 255);
}
.newsletter form button {
  margin-right: 5px;
  padding: 10px 25px;
  border-radius: 4px;
}

@media screen and (max-width: 1280px) {
  body {
    padding: 0px 20px;
  }

  .mockup_section_right img:nth-child(1) {
    width: 100%;
  }
  .mockup_section_right img:nth-child(2) {
    width: 100%;
  }

  .tryitforfree_banner {
    max-width: 1280px;
    margin: auto;
    padding: 50px 50px 0px 50px;
    border-radius: var(--Spacing-xl, 40px);
    background: var(--blue-gray-200, #e2e8f0);
  }



  .testimonial .testimonial_bottom .testimonial_card {
    padding: 15px;
    gap: 20px;
    /* max-width: 625px; */
    display: flex;
  }
  .testimonial .testimonial_bottom .testimonial_card img {
    height: 180px;
  }
  .testimonial .testimonial_card h5,
  .testimonial .testimonial_card span {
    font-size: 14px !important;
  }
  .testimonial .card_content {
    padding: 5px 0px;
  }
  .testimonial .card_content p {
    font-size: 14px;
  }
}

/* media query starts here */
@media screen and (max-width: 768px) {
  .trusted_by {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .tryitforfree_banner,
  .integration,
  .feature {
    margin: auto 20px !important;
  }

  .tryitforfree_banner_right {
    display: none;
  }
  .mockup_section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mockup_section .mockup_section_left {
    margin: auto;
  }
  .mockup_section_right {
    margin: auto;
    overflow: hidden;
  }
  .mockup_section_right img:nth-child(1) {
    width: 500px;
  }
  .mockup_section_right img:nth-child(2) {
    /* display: none; */
    width: 500px;
  }

  .integration {
    padding: auto 20px;
  }
  .integration_buttom {
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
  }
  .integration_buttom img {
    width: 50px;
  }

  .pricing_buttom {
    flex-wrap: wrap;
  }

  .joinus_wrapper {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .joinus_top {
    display: none;
  }
  .joinus_buttom {
    margin: auto 20px;
  }




  .testimonial .testimonial_bottom .testimonial_card {
    padding: 5px;
    gap: 20px;
    /* max-width: 625px; */
    display: flex;
  }
  .testimonial .testimonial_bottom .testimonial_card img {
    height: 180px;
  }
  .testimonial .testimonial_card h5,
  .testimonial .testimonial_card span {
    font-size: 12px !important;
  }
  .testimonial .card_content {
    padding: 5px 0px;
  }
  .testimonial .card_content p {
    padding: 15px 0px;
    font-size: 12px;
  }





  .newsletter {
    display: flex !important;
    flex-wrap: wrap;
  }

  .footer {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .footer .footer_right {
    padding-top: 20px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* header {
    display: none !important;
  } */
}
